
    :root {
      --bubble-pink: #ff1ead;
      --bg-black: #000;
      --shine-white: #fff;

      --bubble-base-size: 12vmin;
      --loader-width: calc(var(--bubble-base-size) * 6);
      --loader-height: calc(var(--bubble-base-size) * 2.3);
      --bubble-size: calc(var(--bubble-base-size) * 1.5);
      --shine-size: calc(var(--bubble-base-size) / 5);
    }

    body {
      margin: 0;
      background-color: var(--bg-black);
      font-family: "Major Mono Display", monospace;
    }

    .loader {
      width: var(--loader-width);
      height: var(--loader-height);
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: relative;
      margin: calc(50vh - var(--loader-height)) auto 0;
    }

    .bubble {
      width: var(--bubble-size);
      height: var(--bubble-size);
      background-color: var(--bubble-pink);
      border-radius: 50%;
      position: absolute;
      bottom: calc(var(--bubble-base-size) / 1.5);
      left: 50%;
      transform: scale(0.5) translateY(50%);
      animation: blow 1.6s linear alternate infinite;
      outline: 1px solid transparent;
    }

    .bubble__shine--lg,
    .bubble__shine--sm {
      background-color: var(--shine-white);
      position: absolute;
    }

    .bubble__shine--lg {
      width: var(--shine-size);
      height: calc(var(--shine-size) * 2.5);
      border-radius: 100% 50% 40% 100% / 50% 30% 30% 100%;
      top: 2%;
      left: 26%;
      transform: rotateZ(60deg);
    }

    .bubble__shine--sm {
      width: calc(var(--shine-size) / 2);
      height: calc(var(--shine-size) / 2);
      border-radius: 50% 50% 40% 100% / 50% 50% 50% 100%;
      top: 32%;
      left: 9%;
    }

    .text {
      align-self: flex-end;
      color: var(--bubble-pink);
      font-size: var(--bubble-base-size);
      margin: 0;
      text-transform: uppercase;
    }

    .text__highlight {
      color: var(--shine-white);
    }

    @keyframes blow {
      0% {
        transform: scale(0.5) translateY(50%);
      }
      20% {
        transform: scale(0.6) translateY(33%);
      }
      40% {
        transform: scale(0.7) translateY(21%);
      }
      60% {
        transform: scale(0.8) translateY(12%);
      }
      80% {
        transform: scale(0.9) translateY(5%);
      }
      93%, 100% {
        transform: scale(1) translateY(0) translateZ(0);
      }
    }
  